In [ ]:
# Students with names, Zubair, Asad, Ahmad
student1 = "Zubair"
student2 = "Asad"
student3 = "Ahmad"

In [ ]:
# Students with multiple things: name, roll, marks, major
student1 = {'name': 'Zubair', 'roll no': 341, 'marks': 87}
student2 = {'name': 'Ahmad', 'roll no': 342, 'marks': 90}
student3 = {'name': 'Ali', 'roll no': 343, 'marks': 78}
student4 = {'name': 'Omar', 'roll no': 344, 'marks': 95}
student5 = {'name': 'Khalid', 'roll no': 345, 'marks': 88}
student6 = {'name': 'Hassan', 'roll no': 346, 'marks': 92}
student7 = {'name': 'Mustafa', 'roll no': 347, 'marks': 85}
student8 = {'name': 'Sami', 'roll no': 348, 'marks': 89}
student9 = {'name': 'Yusuf', 'roll no': 349, 'marks': 91}
student10 = {'name': 'Ibrahim', 'roll no': 350, 'marks': 82}

In [ ]:
student1 = {'name': 'Zubair', 'roll no': 341, 'marks': 87, 'major': 'Computer Science', 'study_year': 1, 'attendance': 0, 'grade': None, 'subjects': [], 'is_active': True}
student2 = {'name': 'Ahmad', 'roll no': 342, 'marks': 90, 'major': 'Physics', 'study_year': 2, 'attendance': 0, 'grade': None, 'subjects': [], 'is_active': True}
student3 = {'name': 'Ali', 'roll no': 343, 'marks': 78, 'major': 'Biology', 'study_year': 1, 'attendance': 0, 'grade': None, 'subjects': [], 'is_active': True}
student4 = {'name': 'Omar', 'roll no': 344, 'marks': 95, 'major': 'Mathematics', 'study_year': 4, 'attendance': 0, 'grade': None, 'subjects': [], 'is_active': True}
student5 = {'name': 'Khalid', 'roll no': 345, 'marks': 88, 'major': 'Chemistry', 'study_year': 3, 'attendance': 0, 'grade': None, 'subjects': [], 'is_active': True}
student6 = {'name': 'Hassan', 'roll no': 346, 'marks': 92, 'major': 'Engineering', 'study_year': 1, 'attendance': 0, 'grade': None, 'subjects': [], 'is_active': True}
student7 = {'name': 'Mustafa', 'roll no': 347, 'marks': 85, 'major': 'Psychology', 'study_year': 3, 'attendance': 0, 'grade': None, 'subjects': [], 'is_active': True}
student8 = {'name': 'Sami', 'roll no': 348, 'marks': 89, 'major': 'History', 'study_year': 2, 'attendance': 0, 'grade': None, 'subjects': [], 'is_active': True}
student9 = {'name': 'Yusuf', 'roll no': 349, 'marks': 91, 'major': 'Political Science', 'study_year': 2, 'attendance': 0, 'grade': None, 'subjects': [], 'is_active': False}
student10 = {'name': 'Ibrahim', 'roll no': 350, 'marks': 82, 'major': 'Economics', 'study_year': 1, 'attendance': 0, 'grade': None, 'subjects': [], 'is_active': True}

In [ ]:
print(student1)
print(student2)
print(student3)
print(student4)
print(student5)
print(student6)
print(student7)
print(student8)
print(student9)
print(student10)

In [ ]:
# But instead of this, we can create a student class to better organize our code
class Student:
    def __init__(self, name, roll_number, marks, study_year):
        self.name = name
        self.roll_number = roll_number
        self.study_year = 1
        self.marks = marks
        self.attendance = 0
        self.grade = None
        self.subjects = []
        self.is_active = True  # Flag to indicate whether the student is currently enrolled or passed out
    def __repr__(self):
        return f"{self.roll_number}: {self.name}"

In [ ]:
student1 = Student('Zubair', 341, 87, 1)
student2 = Student('Ahmad', 342, 90, 2)
student3 = Student('Ali', 343, 78, 1)
student4 = Student('Omar', 344, 95, 4)
student5 = Student('Khalid', 345, 88, 3)
student6 = Student('Hassan', 346, 92, 1)
student7 = Student('Mustafa', 347, 85, 3)
student8 = Student('Sami', 348, 89, 2)
student9 = Student('Yusuf', 349, 91, 2)
student10 = Student('Ibrahim', 350, 82, 1)

In [ ]:
print(student1)
print(student2)
print(student3)
print(student4)
print(student5)
print(student6)
print(student7)
print(student8)
print(student9)
print(student10)

Implement rectangle class having lenght and width attributes and have a method of get area that will give area of rectangle.

Implement Complex number class. It will have 2 attributes real and imaginary (complex). Implement these attributes as well, addition, subtraction, multiplication and conjogate.