# For loop
`for` loop is quite similar to `while` loop. If we want to iterate some things in a simple fasion, it will be more easy to use `for` loop instead of `while` loop. But `while` has its own benifits. It allows you to repeat your code based on simple or complex conditions. 

You will see in advanced classes, how `while` can handle complex logic. But for simple itertaions, that are easy, we can use `for` loop. Following is the **syntax** for simple `for` loop.
#### Syntax of `for` loop

for var in range(start,end):
    statement 1
    statement 2
    statement 3

**Explanantion**

Here, `for` is the keyword and you have to write it as it is. Then there will com a variable name, its name can be anything you want. In the above syntax, I have written `var` here. Then `in` is also a keyword and it will come as it is. Then there will come an iterable (a collection that has multiple elements and we can access its elements one by one). Here, I have used `range(start,end)` as iterable but there can be some other iterables as well. We will see them in the coming lessons. Here, we have to write `range()` as it is, and inside the round brackets, we will write the starting number and enditng number as shown in the following examples. Variable `var` that I used for the above syntax will automatically change in each iteration inside the range and we don't have to manually increment it.

In [ ]:
for j in range(1,11):
    print(j)

In [ ]:
for xyz in range(87,100):
    print(xyz)

If you run the above code, you will see that, 100 will not print. It will print upto 99 even though we have written 100 inside the `range` function. The range function runs as it is. It excludes the last number that you mentioned inside the range. If you want to print numbers upto 100 then you have to write 101 instead of 100 inside the `range` function. You can try it on your own.

## Examples
**1. Print the scale from 0°C to 20°C along with coressponding °F temperatures.**

0 °C = 32.0 °F
1 °C = 33.8 °F
2 °C = 35.6 °F
3 °C = 37.4 °F
4 °C = 39.2 °F
5 °C = 41.0 °F
6 °C = 42.8 °F
7 °C = 44.6 °F
8 °C = 46.4 °F
9 °C = 48.2 °F
10 °C = 50.0 °F

**2. Print odd numbers from 1 to 20.**

**3. Generate a multiplication table of 5 in the following form.**

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**4. Modify the above code to take input from the user and generate the multiplication table of that number.**