# Integrity Constraints in MySQL
Constraints in MySQL are rules applied to columns in a table to enforce data integrity and consistency. They ensure that the data entered into the database adheres to specific standards. MySQL supports several types of constraints that help maintain accuracy and reliability in your database.

## Types of Constraints in MySQL
 - NOT NULL
 - UNIQUE
 - CHECK (since MySQL 8.0.16)
 - DEFAULT
 - INDEX
 - PRIMARY KEY
 - FOREIGN KEY

### **1. NOT NULL**
The NOT NULL constraint ensures that a column cannot have a NULL value. This is used when a field should always have a value. For example, in a table of users, you wouldn't want to allow a user to have an empty email address.

``` sql
CREATE TABLE Users (
    user_id INT AUTO_INCREMENT,
    username VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL,
    PRIMARY KEY (user_id)
);
```

### **2. UNIQUE**
The UNIQUE constraint ensures that all values in a column are different. This is useful when you want to prevent duplicate entries in a column.

``` sql
CREATE TABLE Users (
    user_id INT AUTO_INCREMENT,
    username VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE,
    PRIMARY KEY (user_id)
);
```

### **3. CHECK**
The CHECK constraint ensures that all values in a column satisfy a specific condition. This feature was introduced in MySQL 8.0.16.

``` sql
CREATE TABLE Products (
    product_id INT AUTO_INCREMENT,
    product_name VARCHAR(100) NOT NULL,
    price DECIMAL(10, 2) NOT NULL CHECK (price > 0),
    stock INT CHECK (stock >= 0),
    PRIMARY KEY (product_id)
);
```

### 4.

### **6. PRIMARY KEY**
The PRIMARY KEY constraint uniquely identifies each record in a table. A table can have only one primary key, and it can consist of one or more columns.

``` sql
CREATE TABLE Orders (
    order_id INT AUTO_INCREMENT,
    user_id INT NOT NULL,
    order_date DATE NOT NULL,
    PRIMARY KEY (order_id)
);
```

**Composite Key**

A primary key can also consist of multiple columns, referred to as a composite key.

``` sql
CREATE TABLE Enrollments (
    student_id INT NOT NULL,
    course_id INT NOT NULL,
    enrollment_date DATE NOT NULL,
    PRIMARY KEY (student_id, course_id)
);
```

### **7. FOREIGN KEY**
The FOREIGN KEY constraint links two tables together, ensuring referential integrity by enforcing that a column (or a combination of columns) in one table matches the primary key in another.

``` sql
CREATE TABLE Orders (
    order_id INT AUTO_INCREMENT,
    user_id INT NOT NULL,
    order_date DATE NOT NULL,
    PRIMARY KEY (order_id),
    FOREIGN KEY (user_id) REFERENCES Users(user_id)
);
```

**Cascading Actions with Foreign Keys**
You can also define actions when a foreign key is updated or deleted:

 - ON DELETE CASCADE: Automatically deletes records in the child table if the referenced record in the parent table is deleted.
 - ON UPDATE CASCADE: Automatically updates the child records if the referenced value in the parent table is updated.

``` sql
CREATE TABLE Orders (
    order_id INT AUTO_INCREMENT,
    user_id INT NOT NULL,
    order_date DATE NOT NULL,
    PRIMARY KEY (order_id),
    FOREIGN KEY (user_id) REFERENCES Users(user_id)
    ON DELETE CASCADE ON UPDATE CASCADE
);
```