# **Q 01**
Find customers who visited but did not make any transactions along with their count.[Link](https://leetcode.com/problems/customer-who-visited-but-did-not-make-any-transactions/?envType=study-plan-v2&envId=top-sql-50)

**Solution:**
``` sql
SELECT v.customer_id, COUNT(*) AS count_no_trans FROM Visits v
LEFT JOIN Transactions t
ON v.visit_id = t.visit_id
WHERE t.transaction_id is NULL
GROUP BY v.customer_id
```
<hr>

# **Q 02**
Finding the no. of times, the students appeared in the examination[Link](https://leetcode.com/problems/customer-who-visited-but-did-not-make-any-transactions/?envType=study-plan-v2&envId=top-sql-50)

Handling of null values and CROSS JOIN.

**Solution:**
``` sql
SELECT std.student_id, student_name, sbj.subject_name, COALESCE(COUNT(exm.subject_name), 0) as attended_exams  FROM students std
CROSS JOIN Subjects sbj
LEFT JOIN Examinations exm
ON std.student_id = exm.student_id
AND sbj.subject_name = exm.subject_name
GROUP BY std.student_id, sbj.subject_name
ORDER BY student_id, student_name, sbj.subject_name
```

Article related to COALESCE: [Link](https://www.datacamp.com/tutorial/coalesce-sql-function?utm_source=google&utm_medium=paid_search&utm_campaignid=19589720824&utm_adgroupid=157156376591&utm_device=c&utm_keyword=&utm_matchtype=&utm_network=g&utm_adpostion=&utm_creative=710011990469&utm_targetid=aud-2191467490030:dsa-2218886984820&utm_loc_interest_ms=&utm_loc_physical_ms=9060977&utm_content=&utm_campaign=230119_1-sea~dsa~tofu_2-b2c_3-row-p2_4-prc_5-na_6-na_7-le_8-pdsh-go_9-nb-e_10-na_11-na-fawaug24&gad_source=1&gclid=CjwKCAjwuMC2BhA7EiwAmJKRrI1uw6YeqSywQAYhB-VQZFoUcuIGiwJGBvu3HTRJU2GXltcu-0xQMxoCNIMQAvD_BwE)
<hr>