## User-Defined Functions (UDFs) in MySQL

### 1. Introduction to User-Defined Functions (UDFs) in MySQL

#### What Are User-Defined Functions?
User-Defined Functions (UDFs) in MySQL are custom functions written by users to perform specialized calculations or logic that go beyond MySQL’s built-in functions. They encapsulate complex operations and can be reused across multiple queries, making code more modular and maintainable.

#### Why Use User-Defined Functions?
UDFs provide several benefits:
1. **Reusability**: Once created, UDFs can be called from any query, reducing redundancy.
2. **Simplification**: Encapsulate frequently used logic in one place.
3. **Customization**: Perform tasks specific to your application needs that built-in functions may not support.

---

### 2. Basic Syntax of a User-Defined Function (UDF)

To create a function in MySQL, use the following structure:

```sql
DELIMITER //
CREATE FUNCTION function_name (parameter1 datatype, parameter2 datatype, ...)
RETURNS return_datatype
DETERMINISTIC | NON-DETERMINISTIC
BEGIN
    -- Declare local variables
    DECLARE variable_name datatype DEFAULT default_value;

    -- Function logic
    SET variable_name = expression;

    RETURN result;
END //
DELIMITER ;
```

#### Key Components of the Syntax
Let’s break down each component of the UDF syntax and its purpose:

1. **`DELIMITER`**:  
   - MySQL uses a default `;` delimiter, but this will cause issues within functions because functions themselves can contain multiple SQL statements.
   - Changing the delimiter temporarily (e.g., to `//`) tells MySQL to interpret statements as part of the function until it sees `//` again.

2. **`CREATE FUNCTION`**:  
   - This is the main keyword used to create a new function.
   - **Function Name**: Should be unique within the database and descriptive of the task it performs.

3. **Parameters**:  
   - Functions can accept multiple parameters, enclosed in parentheses.
   - Each parameter requires a **name** and a **datatype**.
   - Parameters are used as inputs for the function logic.

4. **`RETURNS` Return Datatype**:  
   - Defines the datatype of the function’s output, such as `INT`, `VARCHAR`, `DECIMAL`, etc.
   - A function must always return a single value, which can be a scalar or a complex data type, depending on the return datatype specified.

5. **Deterministic Property**:  
   - **`DETERMINISTIC`**: Indicates that the function will always produce the same output given the same inputs. For example, `ROUND(3.5)` will always yield `4`.
   - **`NON-DETERMINISTIC`**: Indicates that the function’s output may vary even if the inputs are the same (e.g., using `NOW()`).
   - Declaring functions as `DETERMINISTIC` helps the MySQL optimizer, potentially improving query performance.

6. **Function Logic (Begin and End Block)**:  
   - All statements inside a function are encapsulated in a `BEGIN ... END` block.
   - Here, you define the calculations, conditions, and operations that the function will perform.

7. **`DECLARE`**:  
   - Used to create local variables within the function.
   - **Variables** created with `DECLARE` can only be used within the function.
   - You can assign default values by using `DEFAULT` or later set values with `SET`.

8. **`SET`**:  
   - Used to assign or re-assign values to variables.
   - While `DECLARE` initializes variables, `SET` is used to update them during function execution.

9. **`RETURN` Statement**:  
   - The `RETURN` statement outputs the final value of the function.
   - A function must contain a `RETURN` statement, which must match the declared return datatype.

---

### Key Concepts: `DECLARE` vs. `SET`

- **`DECLARE`**:  
  - Used only within stored programs (e.g., stored procedures, functions) to declare variables.
  - Declares a variable and can optionally assign an initial value using `DEFAULT`.
  - Must appear at the beginning of the function body, before any other statements.

- **`SET`**:  
  - Used to assign values to variables, including those declared by `DECLARE`.
  - Can assign values to variables multiple times within the function.

#### Example of `DECLARE` and `SET` Usage

```sql
DELIMITER //
CREATE FUNCTION ExampleFunction(num INT)
RETURNS INT
DETERMINISTIC
BEGIN
    DECLARE result INT DEFAULT 0;
    
    -- Use SET to update result
    SET result = num * 2;
    
    RETURN result;
END //
DELIMITER ;
```

---

### 3. Creating a Database: Library Management System

Our **Library Management System** will contain the following tables:

1. **Books**: Information about books in the library.
2. **Members**: Library members' details.
3. **BorrowRecords**: Records of books borrowed and returned.

#### Database Schema and Sample Data

```sql
-- Create the database
CREATE DATABASE LibraryManagement;
USE LibraryManagement;

-- Table for storing books
CREATE TABLE Books (
    BookID INT PRIMARY KEY AUTO_INCREMENT,
    Title VARCHAR(100),
    Author VARCHAR(100),
    Genre VARCHAR(50),
    PublishedYear INT,
    Price DECIMAL(5, 2),
    TotalCopies INT,
    AvailableCopies INT
);

-- Table for library members
CREATE TABLE Members (
    MemberID INT PRIMARY KEY AUTO_INCREMENT,
    Name VARCHAR(100),
    Email VARCHAR(100),
    Phone VARCHAR(20),
    JoinDate DATE
);

-- Table for borrow records
CREATE TABLE BorrowRecords (
    RecordID INT PRIMARY KEY AUTO_INCREMENT,
    MemberID INT,
    BookID INT,
    BorrowDate DATE,
    ReturnDate DATE,
    DueDate DATE,
    Returned BOOLEAN DEFAULT FALSE,
    FOREIGN KEY (MemberID) REFERENCES Members(MemberID),
    FOREIGN KEY (BookID) REFERENCES Books(BookID)
);

```
Inserting records in the tables.

```sql
-- Books table data
INSERT INTO Books (Title, Author, Genre, PublishedYear, Price, TotalCopies, AvailableCopies)
VALUES
('Introduction to Algorithms', 'Thomas H. Cormen', 'Computer Science', 2009, 45.00, 10, 8),
('Digital Logic Design', 'Morris Mano', 'Engineering', 2014, 30.00, 5, 3),
('Artificial Intelligence', 'Stuart Russell', 'Computer Science', 2020, 60.00, 7, 7),
('The Great Gatsby', 'F. Scott Fitzgerald', 'Literature', 1925, 15.00, 6, 5),
('Clean Code', 'Robert C. Martin', 'Programming', 2008, 40.00, 12, 10),
('The Pragmatic Programmer', 'Andrew Hunt', 'Programming', 1999, 42.00, 8, 6),
('Introduction to Machine Learning', 'Ethem Alpaydin', 'Computer Science', 2014, 50.00, 9, 7),
('Database System Concepts', 'Abraham Silberschatz', 'Computer Science', 2010, 55.00, 10, 5),
('Principles of Compiler Design', 'Alfred V. Aho', 'Computer Science', 1977, 48.00, 4, 2),
('The Art of Computer Programming', 'Donald E. Knuth', 'Computer Science', 1968, 70.00, 5, 4),
('Design Patterns', 'Erich Gamma', 'Software Engineering', 1994, 35.00, 7, 5),
('Operating System Concepts', 'Abraham Silberschatz', 'Computer Science', 2018, 58.00, 8, 6),
('Discrete Mathematics', 'Kenneth H. Rosen', 'Mathematics', 2011, 52.00, 11, 9),
('Computer Networks', 'Andrew S. Tanenbaum', 'Computer Science', 2002, 45.00, 7, 6),
('Python Programming', 'Mark Lutz', 'Programming', 2013, 32.00, 10, 8),
('Introduction to Psychology', 'James W. Kalat', 'Psychology', 2011, 28.00, 15, 12),
('Thinking, Fast and Slow', 'Daniel Kahneman', 'Psychology', 2011, 20.00, 9, 6),
('Deep Learning', 'Ian Goodfellow', 'Computer Science', 2016, 65.00, 6, 4),
('To Kill a Mockingbird', 'Harper Lee', 'Literature', 1960, 18.00, 8, 7),
('Pride and Prejudice', 'Jane Austen', 'Literature', 1813, 22.00, 6, 5);

-- Members table data
INSERT INTO Members (Name, Email, Phone, JoinDate)
VALUES
('Alice Johnson', 'alice.johnson@example.com', '123-456-7890', '2022-01-15'),
('Bob Smith', 'bob.smith@example.com', '123-555-7890', '2023-02-20'),
('Carol White', 'carol.white@example.com', '987-654-3210', '2021-12-05'),
('David Brown', 'david.brown@example.com', '555-123-4567', '2020-10-30'),
('Eve Black', 'eve.black@example.com', '321-654-0987', '2022-05-18'),
('Frank Green', 'frank.green@example.com', '234-567-8901', '2023-03-01'),
('Grace Moore', 'grace.moore@example.com', '876-543-2109', '2021-09-23'),
('Hank Jones', 'hank.jones@example.com', '654-321-0987', '2020-07-17'),
('Isabella Carter', 'isabella.carter@example.com', '123-678-4560', '2022-11-10'),
('Jack Wilson', 'jack.wilson@example.com', '555-876-4321', '2023-04-02'),
('Karen Thomas', 'karen.thomas@example.com', '456-789-0123', '2022-03-14'),
('Leo Taylor', 'leo.taylor@example.com', '678-123-4567', '2021-06-28'),
('Mia Davis', 'mia.davis@example.com', '789-234-5678', '2022-08-19'),
('Nina Wright', 'nina.wright@example.com', '890-345-6789', '2023-09-05'),
('Oliver Harris', 'oliver.harris@example.com', '901-456-7890', '2021-11-16'),
('Paul Martinez', 'paul.martinez@example.com', '123-987-6543', '2020-12-21'),
('Quinn Perez', 'quinn.perez@example.com', '234-876-5432', '2022-07-08'),
('Rachel Young', 'rachel.young@example.com', '345-789-0124', '2023-01-11'),
('Steve King', 'steve.king@example.com', '456-890-1234', '2021-02-13'),
('Tina Scott', 'tina.scott@example.com', '567-901-2345', '2022-09-26');

-- BorrowRecords table data
INSERT INTO BorrowRecords (MemberID, BookID, BorrowDate, ReturnDate, DueDate, Returned)
VALUES
(1, 3, '2024-08-01', '2024-08-15', '2024-08-14', TRUE),
(2, 1, '2024-09-01', NULL, '2024-09-15', FALSE),
(3, 5, '2024-07-20', '2024-07-30', '2024-07-29', TRUE),
(4, 7, '2024-06-15', '2024-06-29', '2024-06-28', TRUE),
(5, 2, '2024-05-05', '2024-05-20', '2024-05-19', TRUE),
(6, 4, '2024-04-10', NULL, '2024-04-25', FALSE),
(7, 6, '2024-03-12', '2024-03-22', '2024-03-21', TRUE),
(8, 9, '2024-02-01', '2024-02-15', '2024-02-14', TRUE),
(9, 8, '2024-08-10', NULL, '2024-08-24', FALSE),
(10, 11, '2024-01-03', '2024-01-18', '2024-01-17', TRUE),
(11, 10, '2023-12-10', NULL, '2023-12-24', FALSE),
(12, 12, '2023-11-25', '2023-12-10', '2023-12-09', TRUE),
(13, 13, '2023-10-13', '2023-10-28', '2023-10-27', TRUE),
(14, 15, '2023-09-14', NULL, '2023-09-28', FALSE),
(15, 14, '2023-08-06', '2023-08-20', '2023-08-19', TRUE),
(16, 16, '2023-07-11', NULL, '2023-07-25', FALSE),
(17, 17, '2023-06-15', '2023-06-30', '2023-06-29', TRUE),
(18, 18, '2023-05-18', NULL, '2023-06-01', FALSE),
(19, 19, '2023-04-10', '2023-04-24', '2023-04-23', TRUE),
(20, 20, '2023-03-22', '2023-04-06', '2023-04-05', TRUE);

```

---

### 4. Practical Examples of User-Defined Functions (UDFs)

#### Example 1: Calculate Overdue Fines

This function calculates overdue fines based on the number of days late. The overdue fine rate is set at `$2` per day.

```sql
DELIMITER //
CREATE FUNCTION CalculateFine(ReturnDate DATE, DueDate DATE)
RETURNS DECIMAL(5,2)
DETERMINISTIC
BEGIN
    DECLARE Fine DECIMAL(5,2);
    DECLARE DaysOverdue INT;
    
    -- Calculate overdue days
    SET DaysOverdue = DATEDIFF(ReturnDate, DueDate);
    
    -- Check if overdue and calculate fine
    IF DaysOverdue > 0 THEN
        SET Fine = DaysOverdue * 2;
    ELSE
        SET Fine = 0;
    END IF;
    
    RETURN Fine;
END //
DELIMITER ;
```

#### Example 2: Check Book Availability

This function checks if a specific book has available copies. It returns `1` if copies are available, and `0` otherwise.

```sql
DELIMITER //
CREATE FUNCTION IsBookAvailable(BookID INT)
RETURNS BOOLEAN
DETERMINISTIC
BEGIN
    DECLARE Available INT;
    
    -- Select available copies
    SELECT AvailableCopies INTO Available
    FROM Books
    WHERE BookID = BookID;
    
    RETURN (Available > 0);
END //
DELIMITER ;
```

#### Example 3: Count Books borrowed by a member

This function counts the number of books borrowed by a specific member.

```sql
DELIMITER //
CREATE FUNCTION CountBooksBorrowedByMember(MemberID INT)
RETURNS INT
BEGIN
    DECLARE borrowCount INT;
    SELECT COUNT(*) INTO borrowCount
    FROM BorrowRecords
    WHERE MemberID = MemberID;
    RETURN borrowCount;
END //
DELIMITER ;
```

#### Example 4:  Get Due Books

This function returns the number of books that are due for return.

```sql
DELIMITER //
RETURNS TABLE (BorrowRecordID INT, MemberID INT, BookID INT, Title VARCHAR(255), DueDate DATE)
BEGIN
    RETURN
    SELECT BR.BorrowRecordID, BR.MemberID, BR.BookID, B.Title, BR.DueDate
    FROM BorrowRecords BR
    JOIN Books B ON BR.BookID = B.BookID
    WHERE BR.Returned = FALSE AND BR.DueDate < CURDATE();
END //
DELIMITER ;
```

#### Example 5: Get Member Borrowing History

This function returns the borrowing history of a member.

```sql
DELIMITER //
CREATE FUNCTION GetMemberBorrowingHistory(MemberID INT)
RETURNS TABLE (BookID INT, Title VARCHAR(255), BorrowDate DATE, ReturnDate DATE, Returned BOOLEAN)
BEGIN
    RETURN
    SELECT BR.BookID, B.Title, BR.BorrowDate, BR.ReturnDate, BR.Returned
    FROM BorrowRecords BR
    JOIN Books B ON BR.BookID = B.BookID
    WHERE BR.MemberID = MemberID;
END //
DELIMITER ;
```

---

### 5. Usage Scenarios and Best Practices for UDFs

#### Practical Usage Scenarios

1. **Fine Calculation for Overdue Books**: Automatically calculate overdue fines to streamline billing processes.
2. **Availability Check for Books**: Simplify the logic to verify book availability across various library modules.
3. **Consistent Author Name Formatting**: Display author names consistently across reports and UI elements.

#### Best Practices for Writing UDFs

1. **Use the `DETERMINISTIC` Keyword Where Applicable**: Helps MySQL optimize performance when it knows a function always returns the same result for the same inputs.
2. **Keep Functions Focused**: Each function should perform a single, specific task.
3. **Handle NULL Values and Edge Cases**: Use conditions to handle possible NULL values or unexpected inputs.
4. **Avoid Using UDFs in WHERE Clauses on Large Datasets**: This can slow down query performance. Instead, consider processing results outside the WHERE clause or in your application layer if needed.

---

### Summary

UDFs in MySQL empower users to create custom, reusable logic that simplifies complex calculations, improves code readability, and increases database functionality. By mastering UDFs, you can design efficient, scalable databases tailored to your application’s unique requirements. The **Library Management System** example provides a practical context to apply UDFs, allowing you to streamline operations like fine calculation, book availability checks, and consistent name formatting across the system.